name: Workflow
on:
  push:
    branches:
      - '*'
  pull_request:
    branches:
      - '*'
  release:
    types: [published]
jobs:

  build_linux:
    name: Build (${{ matrix.os }})
    runs-on: ${{ matrix.os }}
    strategy:
      fail-fast: false
      matrix:
        os: ['ubuntu-latest']
    steps:

      - name: "Clone SMESH"
        uses: actions/checkout@v2
        with:
          submodules: 'recursive'

      - name: "Fix dependencies"
        run: |
          sudo apt-get install libxext-dev
          sudo ln -s /usr/lib/x86_64-linux-gnu/ /usr/lib64

      - name: "Configure conda" 
        uses: conda-incubator/setup-miniconda@v2
        with:
          auto-activate-base: true

      - name: "Install conda build"
        shell: pwsh
        run: conda install -c conda-forge conda-build

      - name: "Check conda"
        shell: pwsh
        run: |
          conda info -a
          conda list

      - name: Prepare sources
        shell: pwsh
        run: |
          conda activate
          conda install -c conda-forge python-patch
          python prepare.py

      - name: "Run conda build"
        shell: pwsh
        run: |
          mkdir conda
          conda build  ci/conda -c conda-forge --output-folder conda

      - name: "Upload conda package"
        uses: actions/upload-artifact@v2
        with:
          name: smesh-${{ matrix.os }}
          path: conda

  build_win:
    name: Build (${{ matrix.os }})
    runs-on: ${{ matrix.os }}
    strategy:
      fail-fast: false
      matrix:
        os: ['windows-latest']
    steps:

      - name: "Clone SMESH"
        uses: actions/checkout@v2
        with:
          submodules: 'recursive'

      - name: "Add conda to PATH"
        shell: bash -l {0}
        run: echo "$CONDA/Scripts" >> $GITHUB_PATH

      - name: "Configure conda"
        shell: bash -l {0}
        run: |
          conda init --all

      - name: "Install conda build"
        shell: bash -l {0}
        run: conda install -c conda-forge conda-build

      - name: "Check conda"
        shell: bash -l {0}
        run: |
          conda info -a
          conda list

      - name: Prepare sources
        shell: bash -l {0}
        run: |
          conda activate
          conda install -c conda-forge python-patch
          python prepare.py

      - name: "Run conda build"
        shell: bash -l {0}
        run: |
          mkdir conda
          source activate
          conda build  ci/conda -c conda-forge --output-folder conda

      - name: "Upload conda package"
        uses: actions/upload-artifact@v2
        with:
          name: smesh-${{ matrix.os }}
          path: conda

  build_macos:
    name: Build (${{ matrix.os }})
    runs-on: ${{ matrix.os }}
    strategy:
      fail-fast: false
      matrix:
        os: ['macos-latest']
    steps:

      - name: "Clone SMESH"
        uses: actions/checkout@v2
        with:
          submodules: 'recursive'

      - name: "Configure conda"
        shell: pwsh
        run: |
          conda init --all

      - name: "Install conda build"
        shell: pwsh
        run: conda install -c conda-forge conda-build

      - name: "Check conda"
        shell: pwsh
        run: |
          conda info -a
          conda list

      - name: Prepare sources
        shell: pwsh
        run: |
          conda activate
          conda install -c conda-forge python-patch
          python prepare.py

      - name: "Run conda build"
        shell: pwsh
        run: |
          mkdir conda
          conda build  ci/conda -c conda-forge --output-folder conda

      - name: "Upload conda package"
        uses: actions/upload-artifact@v2
        with:
          name: smesh-${{ matrix.os }}
          path: conda
